<h1>New post</h1>

<%= render "form", post: @post %>

<br>
<%#= render "tags/form", tag:@tag %>
<div>
  <%#= link_to "Back to posts", topic_posts_path %>
  <%= link_to "Back to topics", topics_path, class:'btn btn-outline-secondary' %>
</div>
